{% include 'layout/header.twig' with {'page': 'wallet' }  %}

<div id="mydiv">

    <div id='inner-flex-container'>
<div class="contentHeader">

</div>

<div class="pageContent walletPage">
    <div>
       <div class="contentMenuContainer homecontainer jostHead4">

           <div class="row" >

               <div class="col l6  m6 s12 margin-bottom-16">
                   <div class="cardTop card-addresses network-home-black">
                       <div class="networkInfo padding16">
                           <div>
                               <div class=" row">
                                   <div class="jostHead3 col l12">Manage Addresses</div>
                               </div>

                            {% for address in addresses %}
                           <div class=" row">
                               <div class="jostSub2 col m12">{{ address.address }}</div>
                           </div>
                           {% endfor %}


                                   <form action="#" method="post">
                               <div class=" row">
                                    <div class="col s8"><input type="text" name="address" placeholder="Wallet address to add" /> </div>
                               </div>
                               <div class=" row">
                                    <div class="col s8"><input type="submit" class=" waves-light btn"  value="Add address" style="color:#fff !important;" /></div>
                               </div>

                                   </form>
                           </div>
                       </div>
                   </div>
               </div>

               <div class="col l6  m6 s12 margin-bottom-16">
                   <div class="cardTop card-addresses network-home-black">
                       <div class="networkInfo padding16">
                           <div>
                               <div class=" row">
                                   <div class="jostHead3 col l12">Manage API keys</div>
                               </div>


                               <div class=" row">
                                   <div class="col s8 jostHead1">Soon? </div>
                               </div>

                           </div>
                       </div>
                   </div>
               </div>

           </div>

       </div>
    </div>
</div>
{% include 'layout/footer.twig' %}