<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Prizm - Addresses</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Track your cross-chain DeFi portfolio and Impermanent Loss with ease — all within one of DeFi's most advanced databases" >
    <link rel="icon" href="https://www.yieldmonitor.io/wp-content/uploads/2021/06/cropped-YO_Favicon_v1-32x32.png"
          sizes="32x32"/>
    <link rel="icon" href="https://www.yieldmonitor.io/wp-content/uploads/2021/06/cropped-YO_Favicon_v1-192x192.png"
          sizes="192x192"/>
    <link rel="apple-touch-icon"
          href="https://www.yieldmonitor.io/wp-content/uploads/2021/06/cropped-YO_Favicon_v1-180x180.png"/>
    <script rel="prefetch" src="/public/vue.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link async href="https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script rel="prefetch"  src="/public/axios.js" type="text/javascript"></script>
    <style>
        body {
            background: url('/public/loginbg.png');
            background-size: cover;
            background-position: center;
        }
    </style>
</head>
<body>
<div class="section"></div>
<main>
    <center>
        <img class="responsive-img" style="width: 250px;" src="/public/logo.svg" />
        <div class="section"></div>

        <h5 class="indigo-text">Please, login into your account</h5>
        <div class="section"></div>

        <div class="container">
            <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

                test lol
                <script>

                    function doXhrCall(url) {
                        const callData = {
                            'url': url,
                            'method': 'get'
                        }
                        ///user/xhrproxy

                       return axios.post('/user/xhrproxy', callData);
                    }

                    doXhrCall('https://app.yieldmonitor.io/wallet/lp/avaxc/0x6ae535b4555BE36E97aD5bcd1B7887Da5A5D7e32')
                        .then(response =>  {
                            this.done ++;

                            if (response.data['lps'] !== undefined)
                                this.walletIds = [...this.walletIds, ...response.data['lps']];


                            if (this.done === 4)
                                this.fetchFavoriteLpData(0);
                        });
                </script>

            </div>
        </div>
        <a href="/front/create">Create account</a>
    </center>

    <div class="section"></div>
    <div class="section"></div>
</main>
</body>
</html>