<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Prizm - Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Track your cross-chain DeFi portfolio and Impermanent Loss with ease — all within one of DeFi's most advanced databases" >
    <link rel="icon" href="https://www.yieldmonitor.io/wp-content/uploads/2021/06/cropped-YO_Favicon_v1-32x32.png"
          sizes="32x32"/>
    <link rel="icon" href="https://www.yieldmonitor.io/wp-content/uploads/2021/06/cropped-YO_Favicon_v1-192x192.png"
          sizes="192x192"/>
    <link rel="apple-touch-icon"
          href="https://www.yieldmonitor.io/wp-content/uploads/2021/06/cropped-YO_Favicon_v1-180x180.png"/>
    <script rel="prefetch" src="/public/vue.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link async href="https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <style>
        body {
            background: url('/public/loginbg.png');
            background-size: cover;
            background-position: center;
        }
    </style>
</head>
<body>
<div class="section"></div>
<main>
    <center>
        <img class="responsive-img" style="width: 250px;" src="/public/logo.svg" />
        <div class="section"></div>

        <h5 class="indigo-text">Please, login into your account</h5>
        <div class="section"></div>

        <div class="container">
            <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

                <form class="col s12" method="post" action="/front/login">
                    <div class='row'>
                        <div class='col s12'>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='input-field col s12'>
                            <input placeholder="email" class='validate' type='email' name='email' id='email' />
                        </div>
                    </div>

                    <div class='row'>
                        <div class='input-field col s12'>
                            <input placeholder="password" class='validate' type='password' name='password' id='password' />
                        </div>
                        <label style='float: right; display: none;'>
                            <a class='pink-text' href='#!'><b>Forgot Password?</b></a>
                        </label>
                    </div>

                    <br />
                    <center>
                        <div class='row'>
                            <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect indigo'>Login</button>
                        </div>
                    </center>
                </form>
            </div>
        </div>
        <a href="/front/create">Create account</a>
    </center>

    <div class="section"></div>
    <div class="section"></div>
</main>
</body>
</html>