{% include 'layout/header.twig' with {'page': 'wallet' }  %}
{% verbatim %}



<div id="mydiv">

    <div id='inner-flex-container'>
<div class="contentHeader">

</div>

<div class="pageContent walletPage">
    <div>
       <div class="contentMenuContainer homecontainer">


                <div v-if="walletId == ''"> <br /><br /><h1></h1><br />

            </div>
            <div v-if="sortedCoinData.length == 0 && walletId != '' && !noData" class="jostHead3" > Fetching your wallet data...<br />This may take upto 5 minutes the first time, please be patient!<br />Your token balances can take upto 30 minutes to show<br /></div>
            <div v-if="noData" class="jostHead3">Sorry, we currently cannot display your wallet, try again later.<br />If the problem persists there might not be anything to track.<br />Contact us in discord for more info or to get a farm added</div>

            <div class="row"  :class="searchClass">
                 <div class="input-field col s6 m3 default-ym-input" style="text-align: center">
                    <input class="" placeholder="Search" @change="doSearch($event)"/>

                    </div>
                    <div class="input-field col s6 m3 default-ym-input">
                        <select  @change="searchChanged($event)">
                          <option value="" disabled selected>Sort by</option>
                          <option value="lpresult">LP result</option>
                          <option value="name">Name</option>
                        </select>
                    </div>

                    <div class="input-field col s6 m3 default-ym-input">
                        <select @change="changeFilterNetwork($event)"  >
                             <option value="all" disabled>Filter by network</option>
                             <option value="all">All networks</option>
                            <option value="bsc">Binance Smart Chain</option>
                            <option value="poly">Polygon</option>
                            <option value="avaxc">Avalanche</option>
                            <option value="fantom">Fantom</option>
                        </select>
                    </div>

                    <div class="input-field col s6 m3 default-ym-input">
                        <select @change="changeAmountPerPage($event)" >
                        <option disabled selected>Results per page</option>
                             <option>5</option>
                            <option>10</option>
                            <option >20</option>
                            <option>50</option>
                            <option>100</option>
                        </select>
                    </div>
                </div>

                <div class="row"  :class="searchClass">
                   <div class="input-field col s6 m6 default-ym-input">
                        <select @change="resetAddress($event)" >
                          {% endverbatim %}
                             {% for address in addresses %}

                                <option value="{{ address.address }}">{{ address.address }}</option>
                            {% endfor %}
                          {% verbatim %}
                        </select>
                    </div>
                </div>

            </div>


            <div style="clear: both"></div>



        </div>
        <div style="clear: both"></div>
        <div class="graphHolder"  v-if="sortedCoinData.length != 0">
            <div v-if="sortedCoinData.length == 0"> Loading ...</div>
             <div style="width: 100%;" v-if="sortedCoinData.length != 0">
                <div  class="maingraph padding16" style="width: 660px; display: inline-block; vertical-align: top;">
                    <tradeview containerid="totals" :pricedata="getTotalGraph()" :width=620 :height=230></tradeview>
                </div>
                <div class="maingraph " style="width: 470px; /*max-width: 600px;*/ width: auto; display: inline-block; text-align: left;vertical-align: top;">
                    <div class="padding16 jostSub2">

                        <div class="row">
                            <div class="col s6">Carried Interest Percentage: </div>
                            <div class="col s6"><input v-model="ciPct" /></div>
                        </div>

                        <div class="row">
                            <div class="col s6">Carried Interest Period: </div>
                            <div class="col s6"><input v-model="ciHoursAgo" /></div>
                        </div>

                        <div class="row">
                            <div class="col s6"> </div>
                            <div class="col s6"><span class="waves-effect waves-light btn" @click="recalculateCI()">Calculate </span></div>
                        </div>

                        <div class="row">
                            <div class="col s12 jostHead3">Carried interest for {{ciHoursAgo}}h </div>
                        </div>

                        <div class="row">
                            <div class="col s6">Start </div>
                            <div class="col s6">{{ciStartResult}}</div>
                        </div>

                        <div class="row">
                            <div class="col s6">Stop </div>
                            <div class="col s6">{{ciStopResult}}</div>
                        </div>

                        <div class="row">
                            <div class="col s6">Profit </div>
                            <div class="col s6">{{ciProfitResult}}</div>
                        </div>

                        <div class="row">
                            <div class="col s6">Limited Partner Return </div>
                            <div class="col s6">{{ciReturnResult}}</div>
                        </div>

                        <div class="row">
                            <div class="col s6">Carried Interest ({{ciPct}}%) </div>
                            <div class="col s6">{{ciResult}}</div>
                        </div>


                    </div>
                </div>
            </div>
            <div v-for="lpCoin in sortedCoinData" v-if="" style="" class="maingraph">
            {% endverbatim %}
               {% include 'component/chart.twig'  with {'wallet': true}  %}
            {% verbatim %}
            </div>
        </div>

        <br />
    </div>
</div>

</div>

<div class="hide-on-large-only mobile-filler"></div>
</div>
</div><script>

 function doXhrCall(url, data = undefined) {
    let callData = {
        'url': url,
        'method': 'get'
    }

    if (data !== undefined) {
        callData['method'] = 'post';
        callData['payload'] = data;
    }
    ///user/xhrproxy

   return axios.post('/user/xhrproxy', callData);
}

    var app = new Vue({
        el: '#mydiv',
        data: {
            allCoinData: [],
            hideCoinValues: false,
            HighestFirst: false,
            noData: false,
            limitNumber: 20,
            currentPage: 0,
            searchTerm: "",
            favorites: [],
            walletIds: [],
            totalArray: [],
            farmData: {},
            networkFilter: "all",
            totalUsd: {},
            walletId: '0x6ae535b4555BE36E97aD5bcd1B7887Da5A5D7e32',
            walletinput: '',
            highestTimestamp : 0,
            lastTotalForLp: {},
            lastPercentageForLp: {},
            done:0,
            searchClass: 'hide',
            ciStartResult: 'tbd',
            ciStopResult: 'tbd',
            ciProfitResult: 'tbd',
            ciReturnResult: 'tbd',
            ciResult: 'tbd',
            ciPct: 20,
            ciHoursAgo: 24,
            totalsPerNetwork: [],
        },
        watch: {
            lastTotalForLp: function (val) {

            },
        },
        components: {
            highcharts: HighchartsVue.Chart,
           /*tradeview: tradeview*/
        },
        computed: {
            sortedCoinData() {
                var sortable = [...this.allCoinData];
                this.totalUsd = {};

                 if (this.networkFilter !== 'all') {
                    var tmpSortable = sortable
                        .filter((element) => (element.network === this.networkFilter));
                    sortable = tmpSortable;
                }

                if (!this.HighestFirst)
                    return sortable
                        .filter((element) => (element.symbol0Name.includes(this.searchTerm) || element.symbol1Name.includes(this.searchTerm)))
                        .slice(this.limitNumber * this.currentPage, (this.limitNumber * this.currentPage) + this.limitNumber);
//return sortable;
                sortable.sort(function (a, b) {
                    if (parseFloat(a.result) >= parseFloat(b.result)) return -1;
                    if (parseFloat(a.result) <= parseFloat(b.result)) return 1;
                    return 0;
                });

                // console.log(news);
                return sortable
                    .filter((element) => (element.symbol0Name.includes(this.searchTerm) || element.symbol1Name.includes(this.searchTerm)))
                    .slice(this.limitNumber * this.currentPage, (this.limitNumber * this.currentPage) + this.limitNumber);

            },

        },
        methods: {
            resetAddress(event) {
                const wallet = event.target.value;
                this.allCoinData = [];
                this.hideCoinValues = false;
                this.HighestFirst = false;
                this.noData = false;
                this.limitNumber = 20;
                this.currentPage = 0;

                this.favorites = [];
                this.walletIds = [];
                this.totalArray = [];
                this.farmData = {};
                this.networkFilter = "all";
                this.totalUsd = {};
                this.walletId = wallet;
                this.walletinput = '';
                this.highestTimestamp = 0;
                this.lastTotalForLp = {};
                this.lastPercentageForLp = {};
                this.done =0;
                this.ciStartResult = 'tbd';
                this.ciStopResult = 'tbd';
                this.ciProfitResult = 'tbd';
                this.ciReturnResult = 'tbd';
                this.ciResult = 'tbd';
                this.totalsPerNetwork = [];
                this.loadWallet();
            },
            recalculateCI() {
                 if (this._data.totalArray.length <= 0) {
                    return;
                }
                this.ciStopResult = this._data.totalArray[this._data.totalArray.length-1].value;
                this.ciStartResult = this.findPointAgo();
                if (parseFloat(this.ciStopResult) > parseFloat(this.ciStartResult)) {
                    // we have loss
                    this.ciProfitResult = -(parseFloat(this.ciStartResult) - parseFloat(this.ciStopResult));
                    this.ciResult = this.ciProfitResult / 100 * this.ciPct;
                    this.ciReturnResult = this.ciStopResult - this.ciResult;
                } else {
                    // we have profit
                    this.ciProfitResult = parseFloat(this.ciStopResult) - parseFloat(this.ciStartResult);
                    this.ciResult = this.ciProfitResult / 100 * this.ciPct;
                    this.ciReturnResult = this.ciStopResult - this.ciResult;
                }

            },
            findPointAgo() {
                const tofind = this._data.totalArray[this._data.totalArray.length-1].time - (parseInt(this.ciHoursAgo) * 3600);
                for (i = this._data.totalArray.length - 1; i > 0; i--) {
                    const now = this._data.totalArray[i];

                    if (now['time'] < tofind) {
                        return now['value'];
                    }
                }
                return 0;
            },
            searchChanged(event) {
                if (event.target.value == 'lpresult') {
                    this.HighestFirst=true;
                    return
                }
                this.HighestFirst=false;
                return;
            },
            changeFilterNetwork(event) {
                this.networkFilter = event.target.value;
                this.currentPage = 0;
            },
             getCurrentDisplayPrice(coin) {
                const temp = coin.price[coin.price.length - 1].value;

                if (temp > 1000000) {
                    return (temp / 1000).toFixed(0) + 'K';
                }
                if (temp > 10000) {
                    return (temp / 1000).toFixed(2) + 'K';
                }

                if (temp > 10) {
                    return temp.toFixed(2);
                }

                if (temp < 0.000001) {
                    return temp.toFixed(10);
                }

                if (temp < 0.01) {
                    return temp.toFixed(6);
                }

                return temp.toFixed(3);
            },
            getCurrentPrice (coin) {
                return this.lastTotalForLp[coin.id];
            },
            getCurrenPctResult (coin){
                return this.lastPercentageForLp[coin.id];
            },
            setWallet(){
                this.walletId = this.walletinput;
                this.loadWallet();
            },
            notExpiredToOld(coin) {
                var diff = this.highestTimestamp - coin[0].time;

                if (diff == 0) {
                    return true;
                }
                if (diff < 21000) {
                    return true;
                }
                return false;
            },
            loadWallet() {
                let walletAddress = this.walletId;
                doXhrCall('https://app.yieldmonitor.io/wallet/lp/bsc/'+walletAddress)
                    .then(response =>  {
                        this.done ++;

                        if (response.data['lps'] !== undefined)
                        this.walletIds = [...this.walletIds, ...response.data['lps']];

                        if (this.done === 4)
                        this.fetchFavoriteLpData(0);
                    });

                doXhrCall('https://app.yieldmonitor.io/wallet/lp/avaxc/'+walletAddress)
                    .then(response =>  {
                        this.done ++;

                        if (response.data['lps'] !== undefined)
                        this.walletIds = [...this.walletIds, ...response.data['lps']];


                        if (this.done === 4)
                        this.fetchFavoriteLpData(0);
                    });

                doXhrCall('https://app.yieldmonitor.io/wallet/lp/fantom/'+walletAddress)
                    .then(response =>  {
                        this.done ++;

                        if (response.data['lps'] !== undefined)
                        this.walletIds = [...this.walletIds, ...response.data['lps']];

                        if (this.done === 4)
                        this.fetchFavoriteLpData(0);
                    });

                doXhrCall('https://app.yieldmonitor.io/wallet/farm/history/'+walletAddress)
                    .then(response =>  {
                        this.done ++;

                        for(item in response.data) {
                            this.farmData[item] = response.data[item];
                        }

                        if (this.done === 4)
                        this.fetchFavoriteLpData(0);
                    });
            },
            getTotalGraph() {
                // find largest farm data
                    // run these values,
                        // loop each farm to add total.
                let largest = 0;
                let largestId = 0;
                let timeBasedArray = [];
                let resultArray = [];
                let countResults = {};

                for (farmId in this.farmData) {
                    if (this.farmData[farmId].length > largest) {
                        largest = this.farmData[farmId].length;
                        largestId = farmId;
                    }
                    timeBasedArray[farmId] = [];

                    for(dataKey in this.farmData[farmId]) {
                        timeBasedArray[farmId][this.farmData[farmId][dataKey].time] = this.farmData[farmId][dataKey];
                    }


                }

                for (arrayKey in this.farmData[largestId]) {
                    const currentTimestamp = this.farmData[largestId][arrayKey].time;
                    resultArray[currentTimestamp] = 0;

                    if (currentTimestamp > this.highestTimestamp) {
                        this.highestTimestamp = currentTimestamp;
                    }


                    for (farmId in this.farmData) {
                        if (timeBasedArray[farmId][currentTimestamp]) {
                            resultArray[currentTimestamp] += parseFloat(timeBasedArray[farmId][currentTimestamp].value) *  parseFloat(timeBasedArray[farmId][currentTimestamp].price);

                            if (countResults[currentTimestamp] === undefined) {
                                countResults[currentTimestamp] = 0;
                            }
                            if (parseFloat(timeBasedArray[farmId][currentTimestamp].value) > 0)
                                countResults[currentTimestamp] ++;

                        }
                    }

                }
//console.log(resultArray);

                let finalArray = [];
                let finalArrayPerNetwork = [];
                let prevTime = 0;
                let prevItem = {};
                let item1Back = null;
                let item2Back = null;
                for(time in resultArray) {

                    // current
                    if (item2Back !== null) {
                       // console.log(countResults[item2Back.time], countResults[item1Back.time], countResults[time]);
                        if (countResults[item1Back.time] < countResults[time] && countResults[item1Back.time] < countResults[item2Back.time] ){
                        //    console.log('neinn', item1Back.time);
                        } else {
                            finalArray.push(item1Back); // push prev item
                        }
                    }


                    item2Back = item1Back;
                    item1Back = {'time': parseInt(time), 'value': resultArray[time]};

                   /* if (prevTime !== 0 && countResults[prevTime] > countResults[time]) {
                        prevItem = {};
                        continue;
                    }
                    if (prevItem !== {}) {
                        finalArray.push(prevItem);
                    }


                    prevItem = {'time': parseInt(time), 'value': resultArray[time]};*/
                }

                finalArray.push(item1Back);
                this.totalArray = finalArray;
              //  return [{'time': 0, 'value': 0}];
                return finalArray;
            },
            getCoinTotal(symbol) {
                var tot = 0.0;
                const price = symbol.price[symbol.price.length -1].value;

                for (farmk in symbol.farms) {
                    const farm = symbol.farms[farmk];
                    if (this.farmData[farm.id] !== undefined) {

                        tot += parseFloat(this.farmData[farm.id][0].value);
                        this.totalUsd[farm.id] = price * tot;
                    }
                }

                return (tot * price).toLocaleString('en-US', {
                    minimumIntegerDigits: 2,
                    useGrouping: false
                });
            },
            getTotalUsd() {
                let totalCounted = 0;

                for(lpId in this.allCoinData) {
                    const lp = this.allCoinData[lpId];
                    const price = parseFloat(lp.price[lp.price.length -1].value);

                    for (farmk in lp.farms) {
                        const farm = lp.farms[farmk];
                        if (this.farmData[farm.id] !== undefined) {
                            totalCounted += price * parseFloat(this.farmData[farm.id][0]['value']);
                        }
                    }
                }


                return totalCounted.toLocaleString('en-US', {
                    minimumIntegerDigits: 2,
                    useGrouping: false
                });
            },
            favoritesLoaded(data) {
           // isConnected = '0x78d4498970F099e3C94cA8e6Bd90C5795D076041';


                for (var favoritekey in data) {
                    this.favorites.push(data[favoritekey].coinLP.id);
                }
               // this.fetchFavoriteLpData();
            },
            doSearch(event) {
                if (event.target.value.length === 0) {
                    this.searchTerm = '';
                }

                if (event.target.value.length >= 3) {
                    this.searchTerm = event.target.value.toUpperCase();
                }
            },
            changeAmountPerPage(event) {
                this.currentPage = 0;
                this.limitNumber = event.target.value;
            },
            addToFavorite(id) {
                if (!isConnected) {
                    alert('Please connect your wallet first');
                   // alert('Please connect your wallet first');
                } else {
                    axios.get('/lp/favorite/'+id+'/'+isConnected)
                        .then(response =>  {
                            this.favorites.push(id);
                        });
                }
            },
            getdatatest(coin, title = 'Price per share', ytext = 'USD') {
                return coin;
            },
            getLpData(coin) {
                let resultArray = []
                for(farmKey in coin.farms) {
                   const farm = coin.farms[farmKey];
                    if (this.farmData[farm.id]) {
                        for(arrayKey in this.farmData[farm.id]) {
                            const cur = this.farmData[farm.id][arrayKey];
                            if (cur.value === '-1') {
                                continue;
                            }
                            if (resultArray[cur.time] === undefined) resultArray[cur.time] = 0;

                            resultArray[cur.time] += parseFloat(cur.value);
                        }
                    }
                }

                let finalArray = [];
                for(time in resultArray) {
                    finalArray.push({'time': parseInt(time), 'value': resultArray[time]});
                }

                return finalArray;
            },
            getLpPriceData(coin) {
                let resultArray = []
                for(farmKey in coin.farms) {
                   const farm = coin.farms[farmKey];
                    if (this.farmData[farm.id]) {
                        for(arrayKey in this.farmData[farm.id]) {
                            const cur = this.farmData[farm.id][arrayKey];
                            if (cur.value === '-1') {
                                continue;
                            }
                            if (resultArray[cur.time] === undefined) resultArray[cur.time] = 0;
                            resultArray[cur.time] += (parseFloat(cur.value) * parseFloat(cur.price));
                        }
                    }
                }

                let finalArray = [];
                for(time in resultArray) {
                    finalArray.push({'time': parseInt(time), 'value': resultArray[time]});
                }

                let shouldRefresh = false;
                if (this.lastTotalForLp[coin.id] === undefined) {
                    shouldRefresh = true;
                }
                if (finalArray.length > 2) {
                    this.lastTotalForLp[coin.id] = finalArray[finalArray.length - 1].value.toFixed(2);
                    var now =finalArray[finalArray.length - 1].value
                    var last =finalArray[0].value;
                    if (now > last) {
                        var diff = now - last;
                        var gain = diff/now*100;
                    } else {
                        var diff = last - now;
                        var gain = -(diff/last*100);
                    }

                    this.lastPercentageForLp[coin.id] = gain.toFixed(2);
                } else {
                    this.lastPercentageForLp[coin.id] = 'tbd';
                    shouldRefresh = false;
                }
                if (shouldRefresh) {
                    this.$forceUpdate();
                }

                return finalArray;
            },
            fetchFavoriteLpData(page) {
                doXhrCall("https://app.yieldmonitor.io/getpricesforlps",{lps: this.walletIds, 'includeFarms': true, 'includeInactive': true})
                    .then(response =>  {
                        let amountReturned = 1;
                        this.allCoinData = [];
                        for (var lpName in response.data) {
                            amountReturned++;
                            this.allCoinData.push(response.data[lpName]);
                        }

                        if (amountReturned > 10) {
                          //  this.fetchNextData(page+1);
                        }

                        if (this.allCoinData.length === 0) {
                        this.noData = true;
                        return;
                        }

                        this.searchClass = 'show';
                    });
            }
        },
        mounted() {
           /* this.fetchNextData(0);*/

            if (this.walletId !== '') {
                this.loadWallet();
            }

        }
    });

</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems, {});
    });
</script>
{% endverbatim %}

{% include 'layout/footer.twig' %}