{% verbatim %}
<div class="cardTop">
    <div class="networkInfo graphPadding">
        <div style="float: left;">
            <div class="">
                <div v-if="lpCoin.network == 'bsc'">
                    <div class="jostHead4"><img src="/public/networks/bsc.png" class="networkBodyLogo" /> Bsc</div>
                    <div  v-if="lpCoin.symbol1Name != ''" class="jostSub1 margintop4"><img :src="'/public/farms/'+lpCoin.techname+'.png'" class="networkBodyLogo" /> {{lpCoin.origin}}</div>
                </div>
                <div v-if="lpCoin.network == 'fantom'">
                    <div class="jostHead4"><img src="/public/networks/fantom.png" class="networkBodyLogo" />Ftm</div><br />
                    <div  v-if="lpCoin.symbol1Name != ''" class="jostSub1 margintop4"><img :src="'/public/farms/'+lpCoin.techname+'.png'" class="networkBodyLogo" /> {{lpCoin.origin}}</div>
                </div>
                <div v-if="lpCoin.network == 'avaxc'">
                    <div class="jostHead4"><img src="/public/networks/avalanche.png" class="networkBodyLogo" />Avax</div><br />
                    <div  v-if="lpCoin.symbol1Name != ''" class="jostSub1 margintop4"><img :src="'/public/farms/'+lpCoin.techname+'.png'" class="networkBodyLogo" /> {{lpCoin.origin}}</div>
                </div>
                <div v-if="lpCoin.network == 'poly'">
                    <div class="jostHead4"><img src="/public/networks/polygon.png" class="networkBodyLogo" />Poly</div><br />
                    <div  v-if="lpCoin.symbol1Name != ''" class="jostSub1 margintop4"><img :src="'/public/farms/'+lpCoin.techname+'.png'" class="networkBodyLogo" /> {{lpCoin.origin}}</div>
                </div>
                <div v-if="lpCoin.network == 'mainnet'">
                    <div class="jostHead4"><img src="/public/networks/ethereum.png" class="networkBodyLogo" />Eth</div><br />
                    <div  v-if="lpCoin.symbol1Name != ''" class="jostSub1 margintop4"><img :src="'/public/farms/'+lpCoin.techname+'.png'" class="networkBodyLogo" /> {{lpCoin.origin}}</div>
                </div>
            </div>
        </div>
        <div style="float: right; margin-top: 18px;">
        {% endverbatim %}{% if wallet %}{% verbatim %}
              <span class="chartValue jostHead5 positive" v-if="lastPercentageForLp[lpCoin.id] >= 0 ">
               $ {{lastTotalForLp[lpCoin.id]}}
            </span>
              <span class="chartValue jostHead5 positive" v-if="lastPercentageForLp[lpCoin.id] == 'tbd' ">
               $ TBD
            </span>
            <span class="chartValue jostHead5" v-if="lastPercentageForLp[lpCoin.id] < 0 ">
               $ {{lastTotalForLp[lpCoin.id]}}
            </span>
            <span v-if="lastPercentageForLp[lpCoin.id] >= 0 " class="positive resultFloat chartResult jostSub2">
               <span class="material-icons">trending_up</span>
                {{lastPercentageForLp[lpCoin.id]}}%
            </span>
            <span v-if="lastPercentageForLp[lpCoin.id] < 0 "  class="negative resultFloat chartResult jostSub2">
            <span class="material-icons">trending_down</span>
                {{lastPercentageForLp[lpCoin.id]}}%
            </span>
        {% endverbatim %}{% else %}{% verbatim %}
              <span class="chartValue jostHead5 positive" v-if="getCurrenPctResult(lpCoin) >= 0 ">
               $ {{getCurrentDisplayPrice(lpCoin)}}
            </span>
            <span class="chartValue jostHead5" v-if="getCurrenPctResult(lpCoin) < 0 ">
               $ {{getCurrentDisplayPrice(lpCoin)}}
            </span>
            <span v-if="getCurrenPctResult(lpCoin) >= 0 " class="positive resultFloat chartResult jostSub2">
               <span class="material-icons">trending_up</span>
                {{getCurrenPctResult(lpCoin)}}%
            </span>
            <span v-if="getCurrenPctResult(lpCoin) < 0 "  class="negative resultFloat chartResult jostSub2">
            <span class="material-icons">trending_down</span>
                {{getCurrenPctResult(lpCoin)}}%
            </span>
        {% endverbatim %}{% endif %}{% verbatim %}
        </div>

        <div style="clear: both"></div>
    </div>
    <div class="symbolsText jostHead6" v-if="lpCoin.symbol1Name != ''">
        {{lpCoin.symbol0Name}} - {{lpCoin.symbol1Name}}
    </div>
    <div class="symbolsText jostHead6" v-if="lpCoin.symbol1Name == ''">
        {{lpCoin.symbol0Name}}
    </div>
</div>

{% endverbatim %}
    {% if wallet %}
    <div class="graphHolderInner graphPadding">
        <tradeview :wallet="{{wallet}}" :containerid="'chart'+lpCoin.id" :pricedata="getdatatest(lpCoin.price)" :userlpdata="getLpData(lpCoin)" :userpricedata="getLpPriceData(lpCoin)" :width="462"></tradeview>
    </div>
    <div class="symbolsText jostHead6 text-left">
        Farms
    </div>
        {% verbatim %}
        <div class="chart-farm-holder">
            <div v-for="farm in lpCoin.farms" class="row text-left chart-farm-row jostHead4 pad8">
                <div class="farm-chart-name">{{farm.name}}</div> <div class="farm-chart-value text-right"><span v-if="farmData[farm.id] && notExpiredToOld(farmData[farm.id])">{{farmData[farm.id][0].value}}</span></div>
            </div>
        </div>
        <div class="pad8"></div>
        {% endverbatim %}
    {% else %}
<div class="graphHolderInner graphPadding">
        <tradeview :containerid="'chart'+lpCoin.id" :pricedata="getdatatest(lpCoin.price)"></tradeview>
</div>

    {% endif %}
{% verbatim %}

<div style="display: none">

    <a :href="'/lp/detail/' +lpCoin.id">
                                    <span class="material-icons" style="float: right;">
                                    outbound
                                    </span>
    </a>
    <span v-if="!favorites.includes(lpCoin.id)" v-on:click="addToFavorite(lpCoin.id)"
          class="material-icons"
          style="float: right;  cursor: pointer;">
                                            favorite_border
                                     </span>
    <span v-if="favorites.includes(lpCoin.id)" class="material-icons"
          style="float: right; color: darkred;">
                                    favorite
                                    </span>
</div>
{% endverbatim %}