<div class="col l4  m6 s12 margin-bottom-16">
    <div class="cardTop card-home-network network-home-{{ network }}">
        <div class="networkInfo padding16">
            <div class="">
                {% if network == 'bsc' %}
                    {% set networkname='Binance' %}
                    <div>
                        <img src="/public/networks/bsc.png" class="network-home-logo"/>
                        <div class="home-chart-network-title">
                            <div class="jostHead3">BSC</div>
                            <div class="jostSub2 margintop4">Binance</div>
                        </div>
                    </div>
                {% endif %}
                {% if network == 'fantom' %}
                    {% set networkname='Fantom' %}
                    <div>
                        <img src="/public/networks/fantom.png" class="network-home-logo"/>
                        <div class="home-chart-network-title">
                            <div class="jostHead3">FTM</div>
                            <div class="jostSub2 margintop4">Fantom</div>
                        </div>
                    </div>
                {% endif %}
                {% if network == 'avaxc' %}
                    {% set networkname='Avalanche' %}
                    <div>
                        <img src="/public/networks/avalanche.png" class="network-home-logo"/>
                        <div class="home-chart-network-title">
                            <div class="jostHead3">AVAX</div>
                            <div class="jostSub2 margintop4">Avalanche</div>
                        </div>
                    </div>
                {% endif %}
                {% if network == 'poly' %}
                    {% set networkname='Polygon' %}
                    <div>
                        <img src="/public/networks/polygon.png" class="network-home-logo"/>
                        <div class="home-chart-network-title">
                            <div class="jostHead3">POLY</div>
                            <div class="jostSub2 margintop4">Polygon</div>
                        </div>
                    </div>
                {% endif %}
                {% if network == 'mainnet' %}
                    {% set networkname='Ethereum' %}
                    <div>
                        <img src="/public/networks/ethereum.png" class="network-home-logo"/>
                        <div class="home-chart-network-title">
                            <div class="jostHead3">ETH</div>
                            <div class="jostSub2 margintop4">Ethereum</div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="border-home text-left">
            <div class="padding16" style="width: 50%; display: inline-block">
                <span class="jostSub2">LPs</span><br/>
                <span class="jostHead3">{{ totals[network].lps }}</span>
            </div>
            <div class="padding16 border-left" style="width: 49%; display: inline-block">
                <span class="jostSub2">Farms</span><br/>
                <span class="jostHead3">{{ totals[network].farms }}</span>
            </div>
        </div>
        <div>
            <div class="padding16 jostHead4">
            VIEW {{ networkname|upper }} DEFI <span class="material-icons right-align" style="vertical-align: bottom; float: right">arrow_right_alt</span>
            </div>
        </div>
    </div>
</div>