<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Pryzm - App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://www.yieldmonitor.io/wp-content/uploads/2021/06/cropped-YO_Favicon_v1-32x32.png"
          sizes="32x32"/>
    <link rel="icon" href="https://www.yieldmonitor.io/wp-content/uploads/2021/06/cropped-YO_Favicon_v1-192x192.png"
          sizes="192x192"/>
    <link rel="apple-touch-icon"
          href="https://www.yieldmonitor.io/wp-content/uploads/2021/06/cropped-YO_Favicon_v1-180x180.png"/>
    <script rel="prefetch" src="/public/vue.js"></script>
    <script rel="prefetch" async src="/public/ethers.js" type="text/javascript"></script>
    <script rel="prefetch"  src="/public/axios.js" type="text/javascript"></script>
    <script rel="prefetch" src="https://code.highcharts.com/highcharts.js"></script>
    <script rel="prefetch" src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
    <script>
        !function (t, e) {
            "object" == typeof exports && "object" == typeof module ? module.exports = e(require("highcharts"), require("vue")) : "function" == typeof define && define.amd ? define(["highcharts", "vue"], e) : "object" == typeof exports ? exports.HighchartsVue = e(require("highcharts"), require("vue")) : t.HighchartsVue = e(t.Highcharts, t.Vue)
        }(window, function (r, n) {
            return c = {}, o.m = i = [function (t, e) {
                t.exports = r
            }, function (t, e) {
                t.exports = n
            }, function (t, e, r) {
                "use strict";
                r.r(e), r.d(e, "Chart", function () {
                    return l
                }), r.d(e, "default", function () {
                    return h
                });
                var e = r(0), c = r.n(e);

                function n(t, e) {
                    return function r(n, o, i) {
                        function t(t, e) {
                            !c.a.isObject(t, !i) || c.a.isClass(t) || c.a.isDOMElement(t) ? n[e] = o[e] : n[e] = r(n[e] || c.a.isArray(t) ? [] : {}, t, i)
                        }

                        return c.a.isArray(o) ? o.forEach(t) : c.a.objectEach(o, t), n
                    }({}, t, e)
                }

                var o = r(1);

                function i(t) {
                    return function (t) {
                        if (Array.isArray(t)) return a(t)
                    }(t) || function (t) {
                        if ("undefined" != typeof Symbol && null != t[Symbol.iterator] || null != t["@@iterator"]) return Array.from(t)
                    }(t) || function (t, e) {
                        if (t) {
                            if ("string" == typeof t) return a(t, e);
                            var r = Object.prototype.toString.call(t).slice(8, -1);
                            return "Map" === (r = "Object" === r && t.constructor ? t.constructor.name : r) || "Set" === r ? Array.from(t) : "Arguments" === r || /^(?:Ui|I)nt(?:8|16|32)(?:Clamped)?Array$/.test(r) ? a(t, e) : void 0
                        }
                    }(t) || function () {
                        throw new TypeError("Invalid attempt to spread non-iterable instance.\nIn order to be iterable, non-array objects must have a [Symbol.iterator]() method.")
                    }()
                }

                function a(t, e) {
                    (null == e || e > t.length) && (e = t.length);
                    for (var r = 0, n = new Array(e); r < e; r++) n[r] = t[r];
                    return n
                }

                function u(e, t) {
                    var r, n = Object.keys(e);
                    return Object.getOwnPropertySymbols && (r = Object.getOwnPropertySymbols(e), t && (r = r.filter(function (t) {
                        return Object.getOwnPropertyDescriptor(e, t).enumerable
                    })), n.push.apply(n, r)), n
                }

                function s(n) {
                    for (var t = 1; t < arguments.length; t++) {
                        var o = null != arguments[t] ? arguments[t] : {};
                        t % 2 ? u(Object(o), !0).forEach(function (t) {
                            var e, r;
                            e = n, t = o[r = t], r in e ? Object.defineProperty(e, r, {
                                value: t,
                                enumerable: !0,
                                configurable: !0,
                                writable: !0
                            }) : e[r] = t
                        }) : Object.getOwnPropertyDescriptors ? Object.defineProperties(n, Object.getOwnPropertyDescriptors(o)) : u(Object(o)).forEach(function (t) {
                            Object.defineProperty(n, t, Object.getOwnPropertyDescriptor(o, t))
                        })
                    }
                    return n
                }

                function f() {
                    this.chart && this.chart.destroy()
                }

                var p = function (e, t) {
                    t = t.split(".")[0] < 3 ? {
                        render: function (t) {
                            return t("div", {ref: "chart"})
                        }, beforeDestroy: f
                    } : {
                        render: function () {
                            return Object(o.h)("div", {ref: "chart"})
                        }, beforeUnmount: f
                    };
                    return s({
                        template: '<div ref="chart"></div>',
                        props: {
                            constructorType: {type: String, default: "chart"},
                            options: {type: Object, required: !0},
                            callback: Function,
                            updateArgs: {
                                type: Array, default: function () {
                                    return [!0, !0]
                                }
                            },
                            highcharts: {type: Object},
                            deepCopyOnUpdate: {type: Boolean, default: !0}
                        },
                        watch: {
                            options: {
                                handler: function (t) {
                                    var e;
                                    (e = this.chart).update.apply(e, [n(t, this.deepCopyOnUpdate)].concat(i(this.updateArgs)))
                                }, deep: !0
                            }
                        },
                        mounted: function () {
                            var t = this.highcharts || e;
                            this.options && t[this.constructorType] ? this.chart = t[this.constructorType](this.$refs.chart, n(this.options, !0), this.callback || null) : this.options ? console.warn("'".concat(this.constructorType, "' constructor-type is incorrect. Sometimes this error is caused by the fact, that the corresponding module wasn't imported.")) : console.warn('The "options" parameter was not passed.')
                        }
                    }, t)
                }, l = p(c.a, o.version || r.n(o).a.version);

                function h(t) {
                    var e = 1 < arguments.length && void 0 !== arguments[1] ? arguments[1] : {};
                    t.component(e.tagName || "highcharts", p(e.highcharts || c.a, t.version))
                }
            }], o.c = c, o.d = function (t, e, r) {
                o.o(t, e) || Object.defineProperty(t, e, {enumerable: !0, get: r})
            }, o.r = function (t) {
                "undefined" != typeof Symbol && Symbol.toStringTag && Object.defineProperty(t, Symbol.toStringTag, {value: "Module"}), Object.defineProperty(t, "__esModule", {value: !0})
            }, o.t = function (e, t) {
                if (1 & t && (e = o(e)), 8 & t) return e;
                if (4 & t && "object" == typeof e && e && e.__esModule) return e;
                var r = Object.create(null);
                if (o.r(r), Object.defineProperty(r, "default", {
                    enumerable: !0,
                    value: e
                }), 2 & t && "string" != typeof e) for (var n in e) o.d(r, n, function (t) {
                    return e[t]
                }.bind(null, n));
                return r
            }, o.n = function (t) {
                var e = t && t.__esModule ? function () {
                    return t.default
                } : function () {
                    return t
                };
                return o.d(e, "a", e), e
            }, o.o = function (t, e) {
                return Object.prototype.hasOwnProperty.call(t, e)
            }, o.p = "", o(o.s = 2);

            function o(t) {
                if (c[t]) return c[t].exports;
                var e = c[t] = {i: t, l: !1, exports: {}};
                return i[t].call(e.exports, e, e.exports, o), e.l = !0, e.exports
            }

            var i, c
        });
    </script>
    <link async href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <script async src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link async href="https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <style>

    </style>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons&display=swap"
          async
          rel="stylesheet">
    <script src="/public/vuemembership.js?v=20"></script>
    <script src="/public/tradeview.js?v=20"></script>
    <script src="/public/yieldtext.js"></script>
    <style>
        body { font-size:62.5%; }
    </style>
    <style>

        .chart-controls-right {
            position: absolute;
            top: -20px;
            right: 0px;
        }

        .chartbutton {
            background: #134bb2;
            border-radius: 4px;
            padding: 3px 6px;
            cursor: pointer;
            color: #fff;
            z-index: 9999;
        }

        .floating-tooltip-2 {
            width: 96px;
            height: 80px;
            position: absolute;
            display: none;
            padding: 8px;
            box-sizing: border-box;
            font-size: 12px;
            color: #131722;
            background-color: rgba(255, 255, 255, 1);
            text-align: left;
            z-index: 1000;
            top: 12px;
            left: 12px;
            pointer-events: none;
            border: 1px solid rgba(33, 150, 243, 1);
            border-radius: 2px;
        }
        html {
            height: 100vh;
            box-sizing: border-box; /* https://css-tricks.com/box-sizing/ */
            font-display: swap;
        }

        *, *:before, *:after {
            box-sizing: inherit; /* https://css-tricks.com/box-sizing/ */
            font-display: swap;
        }

        body {
            margin: 0;
            min-height: 100vh;
            display: flex; /* body is the outer flex container */
            flex-flow: row wrap;
            text-align: center;
            background-color: #f5f5fa;
            font-family: Rubik;
        }

        aside {
            flex: 1 250px;
            background-color: #134bb2;
            align-items: flex-start;

        }

        #inner-flex-container {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        .logo {
            margin-top: -30%;
            pointer-events: none;
        }

        .logoHolder {
            height: 93px;
            margin: 0 0 1px;
            background: #fff;
        }

        #mydiv {
            margin: 0;
            min-height: 100vh;
            display: flex; /* body is the outer flex container */
            flex-flow: row wrap;
            text-align: center;
            height: 100vh;
            width: 100%;
        }

        .menuItem.menuItemActive {
            padding: 10px 16px;
            border-radius: 8px;
            border: solid 1px rgba(255, 255, 255, 0.4);
            color: #fff;
        }

        .menuItem {
            width: 218px;
            height: 44px;
            margin: 13px 0;
            padding: 10px 16px;
            border-radius: 8px;
            display: inline-block;
            color: #dae0f2;
            text-align: left;
        }

        .menuItem:hover {
            cursor: pointer;
        }

        .IconsCustomer-list00 {
            width: 24px;
            height: 24px;
            margin: 0 12px 0 0;
            object-fit: contain;
            background-color: #ffffff;
        }

        .menuText {
            width: 150px;
            height: 20px;
            margin: 2px 0 2px 12px;
            font-family: Jost;
            font-size: 15px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.33;
            letter-spacing: normal;
            color: #dae0f2;
            text-align: left;
            vertical-align: middle;
            text-decoration: none;
        }

        .menuItem:hover {
            transform: scale(1.05);
            border: solid 1px rgba(255, 255, 255, 0.2);
        }

        .maingraph {
            width: 320px;
            height: 370px;
            margin: 16px 16px 16px 16px;
            padding: 0px;
            border-radius: 6px;
            box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.15);
            background-color: #ffffff;
            transition: all 0.2s ease;
            position: relative;
            border:  1px solid lightgray;
        }

        .maingraph:hover {
            /*  transform: scale(1.15);*/
        }

        .maingraph.coin {
            height: 450px;
        }

        .walletPage  .maingraph {
            width: 480px;
            height: auto;
        }

        .maingraph.maingraphTrans {
            box-shadow: none;
            background: none;
            transition: none;
            margin: 0px;
            padding: 0px;
        }

        .graphHolder {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            flex-grow: 1;
        }

        .graphHolderInner {
            display: block;
            position: relative;
        }

        .networkText {
            font-family: Rubik;
            font-size: 12px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.2;
            letter-spacing: normal;
            color: #b3c0e7;
        }

        .networkSite {
            font-family: Rubik;
            font-size: 15px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.43;
            letter-spacing: normal;
            color: #6a74a5;
        }

        .networkInfo {
            display: block;
            text-align: left;
            width: 100%;
        }

        .cardTop {
            text-align: left;
            display: block;
        }

        .symbolsText {
            text-align: center;
        }

        .whiteButton {
            height: 32px;
            margin: 0 12px 0 0;
            padding: 8px;
            border-radius: 4px;
            box-shadow: 0 4px 8px 0 rgba(179, 192, 231, 0.32);
            background-color: #ffffff;
            font-family: Rubik;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.43;
            letter-spacing: normal;
            text-align: center;
            color: #4b60ff;
            cursor: pointer;
            display: inline-block;
        }

        .whiteButton:hover {
            transform: scale(1.15);
        }

        .contentMenuContainer {
            height: 75px;
            padding: 20px;
        }

        input {
            width: 296px;
            height: 30px;
            border-radius: 4px;
            box-shadow: 0 4px 12px 0 rgba(179, 192, 231, 0.24);
            background-color: #ffffff;
            border: none;
        }

        select {
            /*  width: 296px;*/
            height: 30px;
            border-radius: 4px;
            box-shadow: 0 4px 12px 0 rgba(179, 192, 231, 0.24);
            background-color: #ffffff;
            border: none;
        }

        .detailPage  .bigGraph{
            width: 640px;
            height: 900px;
        }

        .detailPage .maingraph{

        }

        h2 {
            width: 295px;
            height: 20px;
            font-family: Rubik;
            font-size: 14px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.43;
            letter-spacing: normal;
            color: #6a74a5;
        }

        h3 {
            margin: 33px 32px 3px 0;
            font-family: Rubik;
            font-size: 12px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 2;
            letter-spacing: normal;
            color: #858ebd;
        }

        .tokenName {
            margin: 9px 10px 4px 1px;
            font-family: Rubik;
            font-size: 12px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.82;
            letter-spacing: normal;
            color: #134bb2;
        }

        .tokenResult {
            height: 20px;
            margin: 4px 5px 14px 1px;
            font-family: Rubik;
            font-size: 12px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 2;
            letter-spacing: normal;
            color: #858ebd;
        }

        hr {
            height: 1px;
            margin: 3px 25px 13px 0px;
            color: #979797;
            border: none;
            border-top: 1px solid #979797;
        }

        .totalText {
            width: 103px;
            height: 20px;
            font-family: Rubik;
            font-size: 14px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 2;
            letter-spacing: normal;
            margin-top: 32px;
        }
        .sideMenu a {
            text-decoration: none;
        }

        #menuToggleMobile {
            display: none;
        }

        @media only screen and (max-width: 600px) {
            #inner-flex-container {
                display: flex;
                flex-direction: column;
                width: 100vw;
                overflow-y: visible;
                height: 100vh;
            }
        }
    </style>

    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <style>
        .logo {
            padding-top: 80px;
            padding-left: 10px;
        }

        .jostHead1 {
            font-family: 'Jost';
            font-size: 14px;
            font-weight: 600;
        }
        .jostHead2 {
            font-family: 'Jost';
            font-size: 39px;
            font-weight: 700;
        }
        .jostHead3 {
            font-family: 'Jost';
            font-size: 18px;
            font-weight: 700;
        }
        .jostHead4 {
            font-family: 'Jost';
            font-size: 14px;
            font-weight: 400;
        }
        .jostHead5 {
            font-family: 'Jost';
            font-size: 14px;
            font-weight: 600;
        }
        .jostHead6 {
            font-family: 'Jost';
            font-size: 14px;
            font-weight: 700;
        }

        .jostSub1 {
            font-family: 'Jost';
            font-size: 12px;
            font-weight: 700;
        }
        .jostSub2 {
            font-family: 'Jost';
            font-size: 14px;
            font-weight: 500;
        }
        .jostSub3 {
            font-family: 'Jost';
            font-size: 12px;
            font-weight: 400;
        }

        .chartValue{
            border-radius: 12px;
            margin-top: 8px;
            padding: 8px;
            padding-left: 12px;
            padding-right: 12px;
            border: 1px solid lightgray;
            margin-right: -12px;
        }

        .chartResult{
            border-radius: 8px;
            padding: 4px;
            padding-left: 12px;
            padding-right: 12px;
            background: #FFEAE6;
            color: #d03f25;
        }

        .chartResult .material-icons{
            vertical-align: bottom;
        }

        .positive.chartValue{
            border: 1px solid lightgray;
        }

        .positive.chartResult{
            color: #13CD3C;
            background: #E7FAEB;
        }

        .symbolsText {
            border-top: 1px solid lightgray;
            border-bottom: 1px solid lightgray;
            padding: 8px;
        }

        .graphPadding {
            padding: 8px;
        }

        .networkBodyLogo {
            width: 26px;
            height: 26px;
            border-radius: 13px;
            border: 1px solid #fff;
            vertical-align: middle;
        }

        .margintop4 {
            margin-top: 4px;
        }

        nav {
            background: #fff;
        }

        .text-left{
            text-align: left;
        }

        nav ul a{
            font-family: 'Jost';
            font-size: 16px;
            color: #000;
            font-weight: 500;
        }
        nav ul li.active{
            background: #f5f5fa;
        }

        nav .brand-logo {
            padding-left: 16px;
        }
        .padright16 {
            padding-right: 16px;
        }

        .mobile-menu {
            height: 100px;
            position: fixed;
            bottom: 0px;
            z-index: 9999999999999999;
            width: 100%;
        }
        .mobile-filler {
            height: 125px;
            width: 100%;
            display: block;
        }

        .graphHolderInner .switch label .lever  {
            margin-left: 0px;
            margin-right: 4px;
        }
        .graphHolderInner .switch {
            margin-right: 86px;
        }
        .graphHolderInner .switch:last-child {
            margin-right: 0px;
        }

        input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
            border-bottom: 1px solid #4b60ff;
            -webkit-box-shadow: 0 1px 0 0 #4b60ff;
            box-shadow: 0 1px 0 0 #4b60ff;
        }
        .dropdown-content li>a, .dropdown-content li>span {
            color: #4b60ff;
        }
        .select-wrapper input.select-dropdown:focus {
            border-bottom: 1px solid #4b60ff;
        }

        .btn:hover, .btn-large:hover, .btn-small:hover {
            background-color: #4b60ff;
        }

        .btn, .btn-large, .btn-small {
            background-color: #252655;
        }

        button, input, optgroup, select, textarea {
            font-family: 'Jost';
        }
        .input-field>label {
            font-family: 'Jost';
        }
        .wallet-price-switch.switch label input[type=checkbox]:checked+.lever{
            background-color: rgba(19, 75, 178, 0.7);
        }
        .wallet-price-switch.switch label input[type=checkbox]:checked+.lever:after {
            background-color: rgba(19, 75, 178, 1);
        }
        .wallet-price-switch.switch label {
            color: rgba(19, 75, 178, 1);
        }

        .wallet-lp-switch.switch label input[type=checkbox]:checked+.lever{
            background-color: rgba(0, 206, 220, 0.7);
        }
        .wallet-lp-switch.switch label input[type=checkbox]:checked+.lever:after {
            background-color: rgba(0, 206, 220, 1);
        }
        .wallet-lp-switch.switch label {
            color: rgba(0, 206, 220, 1);
        }

        .wallet-user-lp-switch.switch label input[type=checkbox]:checked+.lever{
            background-color: rgba(25, 26, 55, 0.7);
        }
        .wallet-user-lp-switch.switch label input[type=checkbox]:checked+.lever:after {
            background-color: rgba(25, 26, 55, 1);
        }
        .wallet-user-lp-switch.switch label {
            color: rgba(25, 26, 55, 1);
        }

        .maingraph .row {
            margin-bottom: 0px;
        }
        .text-right {
            text-align: right;
        }

        .farm-chart-value {
            float: right;
            width: 66%;
        }

        .farm-chart-name {
            float: left;
            width: 33%;
        }

        .pad8 {
            padding: 8px;
        }

        .nopadbot {
            padding-bottom: 0px;
        }

        .chart-farm-row {
            border-bottom: 1px solid lightgray;
        }

        .chart-farm-holder .chart-farm-row:last-child {
            border-bottom: none;
        }

        .comming-soon {
            color: rgba(25 , 26, 55, 0.75);
            vertical-align: middle;
            padding-left: 4px;
        }

        .chart-actions-bar {
            border-top: 1px solid lightgray;
            padding: 8px;
        }
        .chart-actions-right{
            float: right;
            text-align: right;
            padding-top: 6px;
        }
        #nav-mobile-menu {
            width: 100%;
            height: 100%;
            display: inline-block;
            border-right: 1px solid lightgray;
            margin: 0px;
        }
        #nav-mobile-menu li{
            width: 24%;
            height: 100%;
            display: inline-block;
            border-right: 1px solid lightgray;
            vertical-align: middle;
        }
        #nav-mobile-menu li:last-child{
            border-right: none;
        }
        .mobile-menu {
            background: #191a37;
            color:#fff;
            webkit-box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
            box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
            border-top: 1px solid lightgray;
            padding: 0px;
        }
        #nav-mobile-menu li a{
            width: 100%;
            height: 100%;
            display: inline-block;
            vertical-align: middle;
            line-height: 100px;
            font-family: 'Jost';
            font-size: 14px;
            font-weight: 700;
            color: #fff;
        }

        .pagination li.active {
            background-color: #008cd3;
        }
       body .default-ym-input .select-wrapper, body .default-ym-input input,.default-ym-input input.yminputoverwrite  {
            border: 1px solid lightgray;
        border-radius: 4px;
         padding-left: 8px;
         padding-right: 8px;
           width: calc(100% - 16px);
     }

     body .default-ym-input .select-wrapper input.select-dropdown{
         border-bottom: none;
         margin-bottom: 0px;
       }

    .dropdown-content li>a, .dropdown-content li>span {
        font-family: 'Jost';
        font-size: 14px;
        font-weight: 700;
        color: #008cd3;
    }

    @media only screen and (max-width: 600px) {
        body .default-ym-input .select-wrapper input.select-dropdown{
            border-bottom: none;
         margin-bottom: 8px;
        }

    }
    @media only screen and (max-width: 995px) {
        body .default-ym-input .select-wrapper input.select-dropdown{
            border-bottom: none;
         margin-bottom: 8px;
        }
        .ym-mobile-pad-top {
            margin-top: 32px;
        }
    }
        input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
            border-bottom: 1px solid #008cd3;
            -webkit-box-shadow: 0 1px 0 0 #008cd3;
            box-shadow: 0 1px 0 0 #008cd3;
        }

        .body-view-size {
            width: 100%;
        }

        @media only screen and (min-width: 1280px) {
            .body-view-size.capped{
                width: 1280px;
                margin-left: auto;
                margin-right: auto;
            }
        }

        .home-chart-network-title {
            display: inline-block;
            vertical-align: middle;
            padding-left: 16px;
        }
        .padding16 {
            padding: 16px;
        }
        .network-home-logo {
            width: 50px;
            border-radius: 25px;
            vertical-align: middle;
        }
        .margin-left-8{
            margin-left: 8px;
        }
        .margin-bottom-8{
            margin-bottom: 8px;
        }
        .network-home-sub-logo {
            width: 40px;
            border-radius: 20px;
            vertical-align: middle;
        }
        .card-home-network {
            background: #fff;
            height: 217px;
            border-radius: 5px;
        }
        .card-addresses {
            background: #fff;
            border-radius: 5px;
        }
        .border-home {
            border-top: 1px solid lightgray;
            border-bottom: 1px solid lightgray;
        }
        .border-left {
            border-left: 1px solid lightgray;
        }
        nav {
            margin-bottom: 16px;
        }

        .margin-bottom-16{
            margin-bottom: 16px;
        }
        .margin-left-16{
            margin-left: 16px;
        }

        .home-inverse {
            background: #191A37;
            color: #fff;
        }

        .card-home-network a {
            color: inherit;
        }
        .mobile-menu-logo{
            position: absolute;
            top: -24px;
            height: 48px;
            left: calc(50% - 26px);
            border-radius: 24px;
            border: 4px solid #fff;
            background: #fff;
            webkit-box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
            box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
        }

        .home-card-1{
            background: #191a37;
            color: #fff;
        }
        .home-card-2{
            background: #1339A0;
            color: #00CEDC;
        }
        .home-card-3{
            background: rgb(0,140,211);
            background: linear-gradient(180deg, rgba(0,140,211,1) 0%, rgba(0,206,220,1) 100%);
            color: #fff;
        }
        .home-card-4{
            background: #CCF5F8;
            color: #11268c;
        }

        .network-home-avaxc{
            border-top: 3px solid #E84142;
        }
        .network-home-bsc{
            border-top: 3px solid #F0B90B;
        }
        .network-home-mainnet{
            border-top: 3px solid #627EEA;
        }
        .network-home-fantom{
            border-top: 3px solid #1969FF;
        }
        .network-home-poly{
            border-top: 3px solid #8F5AE8;
        }

        .network-home-black{
            border-top: 3px solid #000;
        }
    </style>
</head>
<body>

<nav class="hide-on-med-and-down">
    <div class="nav-wrapper left-text-pad left-align ">
        <a href="#" class="brand-logo"><img class="logo" width="220px" src="/public/logo.svg" alt="YieldMonitor logo"/></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down padright16">
            <li {% if page == 'home' %}class="active"{% endif %}><a href="/addresses">Addresses</a></li>
            <li {% if page == 'Portfolio' %}class="active"{% endif %}><a href="/user/portfolio">Portfolio</a></li>
        </ul>
    </div>
</nav>

<div class="hide-on-large-only mobile-menu">
    <img class="mobile-menu-logo" src="/public/mobilelogo.png" />
    <ul id="nav-mobile-menu" class="">
        <li {% if page == 'home' %}class="active"{% endif %}><a href="/addresses">Addresses</a></li>
        <li {% if page == 'Portfolio' %}class="active"{% endif %}><a href="/user/portfolio">Portfolio</a></li>
    </ul>
</div>

<div class="body-view-size capped">